body {

    margin: 0;

    padding: 0;

    background: transparent;

    font-family: Arial, Helvetica, sans-serif;

    overflow: hidden;

}



.overlay {

    width: 500px;

    height: 180px;

    display: flex;

    align-items: center;

    justify-content: center;

}



.card {

    width: 260px;

    padding: 16px 18px;


    border-radius: 20px;


    background:
    linear-gradient(
        135deg,
        rgba(255,79,216,0.20),
        rgba(168,85,247,0.12),
        rgba(255,255,255,0.04)
    );


    backdrop-filter: blur(25px);


    border:
    1px solid rgba(255,255,255,0.18);



    box-shadow:

    0 0 30px rgba(255,79,216,0.45),
    0 0 60px rgba(168,85,247,0.20),

    inset 0 0 20px rgba(255,255,255,0.08);



    color:white;



    transition:

    opacity 1.2s ease,

    transform 1.2s cubic-bezier(.22,1,.36,1);



    opacity:1;

    transform:translateY(0);

}



/* SOCIAL HEADER */

.platform {


    display:flex;

    align-items:center;

    gap:8px;


    font-size:13px;

    font-weight:700;


    letter-spacing:2px;


    opacity:.85;


    margin-bottom:12px;

}



.platform img {


    width:18px;

    height:18px;

}



/* CONTENUTO */


.profile {


    display:flex;

    align-items:center;

    gap:12px;

}




.avatar img {

    width:70px;
    height:70px;

    border-radius:20px;

    object-fit:cover;

    box-shadow:
    0 0 15px rgba(255,255,255,0.35);

}



/* DATI */


.data {


    display:flex;

    flex-direction:column;

}



/* USERNAME */


.name {


    display:flex;

    align-items:center;


    gap:7px;


    font-size:14px;


    opacity:.85;

}



.dot {


    width:7px;

    height:7px;


    background:#00ff88;


    border-radius:50%;


    box-shadow:

    0 0 8px #00ff88;


}



/* NUMERO */


.counter {


    font-size:26px;


    font-weight:800;


    line-height:28px;


}



/* SCRITTA */

.label {


    font-size:10px;


    letter-spacing:2px;


    opacity:.55;


}
